<template>
  <v-main>
    <top-banner title="article editor" />
    <div
      class="mx-auto my-10"
      style="max-width: 800px"
    >
      <p>work in progress</p>
    </div>
  </v-main>
</template>

<script>
import TopBanner from "@/components/top-banner";
export default {
  name: "ArticleEditor",
  components: {TopBanner}
}
</script>

<style scoped>

</style>